<%= simple_form_for bill do |form| %>
   <%= form.error_notification %>
  <%= form.association :appointment %>
  <%= form.input :is_paid %>
  <%= form.association :bill_items, as: :check_boxes %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
