<%= form_for [@addressable, @address] do |f| %>
  <% if @address.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :city %>
  </div>
  <div class="field">
    <%= f.text_area :postal_code%>
  </div>
  <div class="field">
    <%= f.text_area :street_name%>
  </div>
  <div class="field">
    <%= f.text_area :street_number%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
